<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leaf-Home</title>
    <link rel="stylesheet" href="../static/CSS/index.css">
</head>

<body>
    <div class="Main_Container">
        <h1 class="grid_1">
            Welcome to Leaf Doctor!
        </h1>

        <div class="grid_2">
            <section class="grid_2A">
                <label for="imageUpload" class="text">Upload an image of the Leaf here!</label><br>
                <form action="/predict" method="post" enctype="multipart/form-data" id="upload-file">
                    <div class="up_c">
                        <input type="file" id="imageUpload" name="file" accept="image/*" required onchange="previewImage()">
                        <br><br>
                        <section class="image-preview">
                            <img id="preview" src="#" alt="Image Preview" style="display: none; width: 100%; max-width: 200px; max-height : 200px;">
                        </section>
                        <br>
                        <input type="submit" class="submit" value="Predict" id="btn-predict">
                        <br>
                    </div>
                </form>
                <br>
                <section class="result">
                    <h3 id="prediction-result"></h3>
                </section>
            </section>

            <!-- Additional sections for plant information, popups, etc. -->
            <section class="grid_2B">
                <div class="grid_2B_1">
                    <p class="text"> Information of Plant Categories & Leaf Diseases: </p>
                </div>
                <section class="grid_2B_2">
                    <div class="plant-box" id="tomato">
                        <p style="font-size: 20px">Tomato</p>
                        <img src="../static/images/Tomato.png" alt="Tomato" class="body_img" onclick="openPopup('popupTomato')">
                    </div>

                    <div class="plant-box" id="potato">
                        <p style="font-size: 20px">Potato</p>
                        <img src="../static/images/Potato.png" alt="Potato" class="body_img" onclick="openPopup('popupPotato')">
                    </div>

                    <div class="plant-box" id="pepper">
                        <p style="font-size: 20px">Pepper Bell</p>
                        <img src="../static/images/Pepper_Bell.png" alt="Pepper Bell" class="body_img" onclick="openPopup('popupPepper')">
                    </div>

                    <div class="plant-box" id="grape">
                        <p style="font-size: 20px">Grape</p>
                        <img src="../static/images/Grape.png" alt="Grape" class="body_img" onclick="openPopup('popupGrape')">
                    </div>
                </section>
            </section>

            <div id="popupTomato" class="popup">
                <div class="popup-content">
                    <span class="close-btn" onclick="closePopup('popupTomato')">×</span>
                    <h2>Tomato Plant Leaf Diseases</h2>
                    <p>Here are reference images showcasing six types of leaf diseases in Tomato plants, along with 1 of their prevention methods.</p>
                    <p><a href="https://hgic.clemson.edu/factsheet/tomato-diseases-disorders/" target="_blank"> *Click Here for More Information*</a></p>
                    <div class="disease-grid">
                        <div class="disease-box">
                            <img src="../static/images/Tomato/Tomato_Bacterial_spot(2).JPG" alt="Bacterial Spot">
                            <p class="disease-name">Bacterial Spot</p>
                            <p class="prevention">[Avoid overhead watering by using drip or furrow irrigation.]</p>
                        </div>
                        <div class="disease-box">
                            <img src="../static/images/Tomato/Tomato_Late_blight(2).JPG" alt="Late Blight">
                            <p class="disease-name">Late Blight</p>
                            <p class="prevention">[Allow extra room between the plants, and avoid overhead watering.]</p>
                        </div>
                        <div class="disease-box">
                            <img src="../static/images/Tomato/Tomato_Early_blight(2).JPG" alt="Early Blight">
                            <p class="disease-name">Early Blight</p>
                            <p class="prevention">[Use overhead irrigation to minimize soil splash.]</p>
                        </div>
                        <div class="disease-box">
                            <img src="../static/images/Tomato/Tomato_Leaf_Mold(2).JPG" alt="Leaf Mold">
                            <p class="disease-name">Leaf Mold</p>
                            <p class="prevention">[Staking and pruning to increase air circulation to control the disease.]</p>
                        </div>
                        <div class="disease-box">
                            <img src="../static/images/Tomato/Tomato_Septoria_leaf_spot(2).JPG" alt="Septoria Leaf Spot">
                            <p class="disease-name">Septoria Leaf Spot</p>
                            <p class="prevention">[Do not use overhead irrigation.]</p>
                        </div>
                        <div class="disease-box">
                            <img src="../static/images/Tomato/Tomato_Target_Spot(2).JPG" alt="Target Spot">
                            <p class="disease-name">Target Spot</p>
                            <p class="prevention">[Remove old plant debris at the end of the growing season to prevent spread.]</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="popupPotato" class="popup">
                <div class="popup-content">
                    <span class="close-btn" onclick="closePopup('popupPotato')">×</span>
                    <h2>Potato Plant Leaf Diseases</h2>
                    <p>THere are reference images showcasing two types of leaf diseases in Potato plants, along with 1 of their prevention methods.</p>
                    <p><a href="https://horticulture.ahdb.org.uk/knowledge-library/potato-disease-identification" target="_blank"> *Click Here for More Information*</a></p>
                    <div class="disease-grid">
                        <div class="disease-box">
                            <img src="../static/images/Potato/Potato_Early_blight(2).JPG" alt="Popup Image" title="Early Blight">
                            <p class="disease-name">Early Blight</p>
                            <p class="prevention">[Maintain optimum growing conditions, including proper fertilization and irrigation.]</p>
                        </div>
                        <div class="disease-box">
                            <img src="../static/images/Potato/Potato_Late_blight(2).JPG" alt="Popup Image" title="Late Blight">
                            <p class="disease-name">Late Blight</p>
                            <p class="prevention">[Control of tuber blight to avoid storage losses and primary, seed-borne inoculum.]</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="popupPepper" class="popup">
                <div class="popup-content">
                    <span class="close-btn" onclick="closePopup('popupPepper')">×</span>
                    <h2>Pepper Bell Plant Leaf Diseases</h2>
                    <p>Here are reference images showcasing a types of leaf disease in Pepper Bell plant, along with a prevention method.</p>
                    <p><a href="https://peppergeek.com/pepper-plant-diseases-problems/#bacterial-leaf-spot-peppers/" target="_blank"> *Click Here for More Information* </a></p>
                    <div class="disease-grid">
                        <div class="disease-box">
                            <img src="../static/images/Pepper Bell/Pepper_bell_Bacterial_spot(2).JPG" alt="Popup Image" title="Bacterial Spot">
                            <p class="disease-name">Bacterial Spot</p>
                            <p class="prevention">[Use cleanly soil and watering practices to avoid splashing the leaves with soil or cross contaminating.]</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="popupGrape" class="popup">
                <div class="popup-content">
                   <span class="close-btn" onclick="closePopup('popupGrape')">×</span>
                    <h2>Grape Plant Leaf Diseases</h2>
                    <p>Here are reference images showcasing three types of leaf diseases in grape plants, along with 1 of their prevention methods.</p>
                    <p><a href="https://www.nhb.gov.in/pdf/fruits/grape/gra002.pdf" target="_blank"> *Click Here for More Information*</a></p>
                    <div class="disease-grid">
                        <div class="disease-box">
                            <img src="../static/images/Grapes/Grape_Black_rot(2).JPG" alt="Popup Image" title="Black Rot">
                            <p class="disease-name">Black Rot</p>
                            <p class="prevention">[Sanitation, Keep the fruit planting and surrounding areas free of weeds and tall grass.]</p>
                        </div>
                        <div class="disease-box">
                            <img src="../static/images/Grapes/Grape_Esca_(Black_Measles)(2).JPG" alt="Popup Image" title="Esca (Black Measles)">
                            <p class="disease-name">Esca (Black Measles)</p>
                            <p class="prevention">[Use alternative pruning methods such as delayed pruning or double pruning.]</p>
                        </div>
                        <div class="disease-box">
                            <img src="../static/images/Grapes/Grape_Leaf_blight_(Isariopsis_Leaf_Spot)(2).JPG" alt="Popup Image" title="Leaf Blight (Isariopsis Leaf Spot">
                            <p class="disease-name">Leaf Blight (Isariopsis Leaf Spot)</p>
                            <p class="prevention">[Two to three sprays of systemic fungicides given per season.]</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <footer class="grid_3">
            @COPYRIGHTS - Group 3: Jiawen, Yen Yi, Yoshana
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        // Function to preview the selected image
        function previewImage() {
            var file = document.getElementById("imageUpload").files[0];
            var reader = new FileReader();

            reader.onloadend = function () {
                var img = document.getElementById("preview");
                img.src = reader.result;  // Set the source to the selected file
                img.style.display = "block";  // Make the image visible
            };

            if (file) {
                reader.readAsDataURL(file);  // Read the image file as a data URL
            }
        }

        // Handle form submission with AJAX
        $('#upload-file').on('submit', function(e) {
            e.preventDefault();  // Prevent the default form submission

            var formData = new FormData(this);  // Create FormData object from the form

            $.ajax({
                url: '/predict',  // Flask route to send the request to
                type: 'POST',
                data: formData,
                contentType: false,  // Let the browser set the content type
                processData: false,  // Don't process the data
                success: function(response) {
                    // Display the result in the "prediction-result" section
                    $('#prediction-result').html('<strong>Prediction: </strong>' + response.result);
                },
                error: function() {
                    // Handle any errors
                    $('#prediction-result').html('<strong>Error:</strong> Could not process the image.');
                }
            });
        });

        function openPopup(popupId) {
            document.getElementById(popupId).style.display = "block";
        }

        function closePopup(popupId) {
            document.getElementById(popupId).style.display = "none";
        }
    </script>

</body>
</html>
