<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leaf-Home</title>
    <link rel="stylesheet" href= "../static/CSS/index.css">
</head>

<body>
    <div class="Main_Container">
        <h1 class="grid_1">
            Welcome to Leaf Doctor!
        </h1>

        <div class="grid_2">
            <!-- Image Upload Section -->
            <section class="grid_2A">
                <form method="post" enctype="multipart/form-data">
                    <label for="imageUpload" class="text"> Upload an image of the Leaf here!</label>
                    <br>
                    <br>
                    <div class="up_c">
                        <input type="file" id="imageUpload" name="image" accept="image/*" onchange="previewImage(event)">
                        <br>
                        <img id="imagePreview" src="" alt="Image Preview" class="up_c">
                    </div>
                    <br>
                    <button type="submit" class="submit">Predict</button>
                </form>
            </section>

            <!-- Information Section -->
            <section class="grid_2B">
                <div class="grid_2B_1">
                    <p class="text"> Information of Plant Categories & Leaf Diseases: </p>
                </div>
                <section class="grid_2B_2">
                    <div class="plant-box" id="tomato">
                        <p style="font-size: 20px">Tomato</p>
                        <img src="../static/images/Tomato.png" alt="Tomato" class="body_img" onclick="openPopup('popupTomato')">
                    </div>

                    <div class="plant-box" id="potato">
                        <p style="font-size: 20px">Potato</p>
                        <img src="../static/images/Potato.png" alt="Potato" class="body_img" onclick="openPopup('popupPotato')">
                    </div>

                    <div class="plant-box" id="pepper">
                        <p style="font-size: 20px">Pepper Bell</p>
                        <img src="../static/images/Pepper_Bell.png" alt="Pepper Bell" class="body_img" onclick="openPopup('popupPepper')">
                    </div>

                    <div class="plant-box" id="grape">
                        <p style="font-size: 20px">Grape</p>
                        <img src="../static/images/Grape.png" alt="Grape" class="body_img" onclick="openPopup('popupGrape')">
                    </div>
                </section>
            </section>

            <div id="popupTomato" class="popup">
                <div class="popup-content">
                    <span class="close-btn" onclick="closePopup('popupTomato')">×</span>
                    <h2>Tomato Leaf Diseases</h2>
                    <p>Here are reference images showcasing eight types of leaf diseases in Tomato plants, along with their prevention methods.</p>
                    <div class="disease-grid">
                        <div class="disease-box">
                            <img src="../static/images/Tomato/Tomato_Bacterial_spot(2).JPG" alt="Bacterial Spot">
                            <p class="disease-name">Bacterial Spot</p>
                            <p class="prevention">[Write prevention method]</p>
                        </div>
                        <div class="disease-box">
                            <img src="../static/images/Tomato/Tomato_Late_blight(2).JPG" alt="Late Blight">
                            <p class="disease-name">Late Blight</p>
                            <p class="prevention">[Write prevention method]</p>
                        </div>
                        <div class="disease-box">
                            <img src="../static/images/Tomato/Tomato_Early_blight(2).JPG" alt="Early Blight">
                            <p class="disease-name">Early Blight</p>
                            <p class="prevention">[Write prevention method]</p>
                        </div>
                        <div class="disease-box">
                            <img src="../static/images/Tomato/Tomato_Leaf_Mold(2).JPG" alt="Leaf Mold">
                            <p class="disease-name">Leaf Mold</p>
                            <p class="prevention">[Write prevention method]</p>
                        </div>
                        <div class="disease-box">
                            <img src="../static/images/Tomato/Tomato_Septoria_leaf_spot(2).JPG" alt="Septoria Leaf Spot">
                            <p class="disease-name">Septoria Leaf Spot</p>
                            <p class="prevention">[Write prevention method]</p>
                        </div>
                        <div class="disease-box">
                            <img src="../static/images/Tomato/Tomato_Spider_mites_Two_spotted_spider_mite(2).JPG" alt="Spider Mites">
                            <p class="disease-name">Spider Mites</p>
                            <p class="prevention">[Write prevention method]</p>
                        </div>
                        <div class="disease-box">
                            <img src="../static/images/Tomato/Tomato_Target_Spot(2).JPG" alt="Target Spot">
                            <p class="disease-name">Target Spot</p>
                            <p class="prevention">[Write prevention method]</p>
                        </div>
                        <div class="disease-box">
                            <img src="../static/images/Tomato/Tomato_Tomato_mosaic_virus(2).JPG" alt="Mosaic Virus">
                            <p class="disease-name">Mosaic Virus</p>
                            <p class="prevention">[Write prevention method]</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="popupPotato" class="popup">
                <div class="popup-content">
                    <span class="close-btn" onclick="closePopup('popupPotato')">×</span>
                    <h2>Potato Leaf Diseases</h2>
                    <p>THere are reference images showcasing two types of leaf diseases in Potato plants, along with their prevention methods.</p>
                    <div class="disease-grid">
                        <div class="disease-box">
                            <img src="../static/images/Potato/Potato_Early_blight(2).JPG" alt="Popup Image" title="Early Blight">
                            <p class="disease-name">Early Blight</p>
                            <p class="prevention">[Write prevention method]</p>
                        </div>
                        <div class="disease-box">
                            <img src="../static/images/Potato/Potato_Late_blight(2).JPG" alt="Popup Image" title="Late Blight">
                            <p class="disease-name">Late Blight</p>
                            <p class="prevention">[Write prevention method]</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="popupPepper" class="popup">
                <div class="popup-content">
                    <span class="close-btn" onclick="closePopup('popupPepper')">×</span>
                    <h2>Pepper Bell Plant Leaf Diseases</h2>
                    <p>Here are reference images showcasing a types of leaf diseases in Pepper Bell plant, along with a prevention method.</p>
                    <div class="disease-grid">
                        <div class="disease-box">
                            <img src="../static/images/Pepper Bell/Pepper_bell_Bacterial_spot(2).JPG" alt="Popup Image" title="Bacterial Spot">
                            <p class="disease-name">Bacterial Spot</p>
                            <p class="prevention">[Write prevention method]</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="popupGrape" class="popup">
                <div class="popup-content">
                   <span class="close-btn" onclick="closePopup('popupGrape')">×</span>
                    <h2>Grape Plant Leaf Diseases</h2>
                    <p>Here are reference images showcasing three types of leaf diseases in grape plants, along with their prevention methods.</p>
                    <div class="disease-grid">
                        <div class="disease-box">
                            <img src="../static/images/Grapes/Grape_Black_rot(2).JPG" alt="Popup Image" title="Black Rot">
                            <p class="disease-name">Black Rot</p>
                            <p class="prevention">[Write prevention method]</p>
                        </div>
                        <div class="disease-box">
                            <img src="../static/images/Grapes/Grape_Esca_(Black_Measles)(2).JPG" alt="Popup Image" title="Esca (Black Measles)">
                            <p class="disease-name">Esca (Black Measles)</p>
                            <p class="prevention">[Write prevention method]</p>
                        </div>
                        <div class="disease-box">
                            <img src="../static/images/Grapes/Grape_Leaf_blight_(Isariopsis_Leaf_Spot)(2).JPG" alt="Popup Image" title="Leaf Blight (Isariopsis Leaf Spot">
                            <p class="disease-name">Leaf Blight (Isariopsis Leaf Spot)</p>
                            <p class="prevention">[Write prevention method]</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="grid_3">
            @COPYRIGHTS - Group 3: Jiawen, Yen Yi, Yoshana
        </footer>

    </div>

    <script>
        function previewImage(event) {
            const file = event.target.files[0];
            const preview = document.getElementById('imagePreview');

            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    preview.src = e.target.result;
                    preview.style.display = 'block';
                };
                reader.readAsDataURL(file);
            }
        }

        function openPopup(popupId) {
            document.getElementById(popupId).style.display = "block"; }

        function closePopup(popupId) {
            document.getElementById(popupId).style.display = "none"; }

    </script>

</body>
</html>
